# Tipos de dados

## 1. Testando os principais tipos de dados

In [1]:
# Exercício 1 - Escreva uma string
'Hello World'

'Hello World'

In [2]:
# Exercício 2 - Escreva um número inteiro
6

6

In [3]:
# Exercício 3 - Escreva um número decimal
5.5

5.5

In [4]:
# Exercício 4 - Escreva um dado do tipo booleano
True

True

In [5]:
# Exercício 5 - Verifique o tipo dos 4 dados criados nos exercícios anteriores (utilize print() para mostrar os resultados)
print(type('Hello World'))
print(type(6))
print(type(5.5))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## 2. Convertendo o tipo dos dados

In [6]:
# Exercício 6 - Converta 5.0 para int e teste usando type()
type(int(5.0))

int

In [7]:
# Exercício 7 - Converta 15 para float e teste usando type()
type(float(15))

float

In [8]:
# Exercício 8 - É possível converter '250' para float? Faça o teste!
float('250')

250.0

In [9]:
# Exercício 10 - É possível converter '4.5' para int? Faça o teste!
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [10]:
# Exercício 11 - É possível converter 'Teste123' para int? Faça o teste!
int('Teste123')

ValueError: invalid literal for int() with base 10: 'Teste123'

In [11]:
# Exercício 11 - É possível converter '123' para int? Faça o teste!
int('123')

123

In [12]:
# Exercício 12 - O que acontece se converter 6.54 para int? Faça o teste!
int(6.54)

6

In [15]:
# Exercício 13 - Tente converter 10 para bool
bool(10)

True

In [14]:
# Exercício 14 - O que acontece se converter 0 para bool?
bool(0)

False

In [16]:
# Exercício 15 - O que acontece se converter '' para bool?
bool('')

False

In [17]:
# Exercício 16 - O que acontece se converter 'Falso ou Verdadeiro' para bool?
bool('Falso ou Verdadeiro')

True

## 3. Operações com diferentes tipos de dados

In [18]:
# Exercício 17 - Some 5 + 7.0 e verifique o tipo (int ou float) do resultado
print(5+7.0)
print(type(5+7.0))

12.0
<class 'float'>

In [19]:
# Exercício 18 - Divida 20 / 4 e verifique o tipo (int ou float) do resultado
print(20/4)
print(type(20/4))

5.0
<class 'float'>

In [20]:
# Exercício 19 - Faça a divisão inteira(sem resto) de 50 por 7 e verifique o tipo (int ou float) do resultado
print(50//7)
print(type(50//7))

7
<class 'int'>

In [21]:
# Exercício 20 - Teste e veja se o python reconhece '8' sendo igual a 8
'8' == 8

False

In [22]:
# Exercício 21 - Converta '8' para int e compare para ver se agora são iguais
int('8') == 8

True

In [23]:
# Exercício 22 - Agora compare 8 com 8.0 e veja se são iguais
8 == 8.0

True