# For

In [2]:
# Exercício 1 - Faça um loop para imprimir a frase "Olá, {nome da pessoa}" para cada pessoa da lista abaixo
pessoas = ['Pedro', 'Gustavo', 'Gabriel', "Mário"]
for pessoa in pessoas:
    print(f'Olá, {pessoa}.')

Olá, Pedro.
Olá, Gustavo.
Olá, Gabriel.
Olá, Mário.

In [3]:
# Exercício 2 - Faça um loop para imprimir cada letra da palavra abaixo
palavra = 'Coca Cola'
for letra in palavra:
    print(letra)

C
o
c
a

C
o
l
a

In [15]:
# Exercício 3 - Utilizando append e for coloque todos nomes da lista de pessoas com o prefixo "Dr." antes do nome na lista "doutores"
pessoas = ['Pedro', 'Gustavo', 'Gabriel', "Mário"]
doutores = []
for pessoa in pessoas:
    doutores.append('Dr. ' + pessoa)
print(doutores)

['Dr. Pedro', 'Dr. Gustavo', 'Dr. Gabriel', 'Dr. Mário']

In [16]:
# Exercício 4 - Utilizando append e for, crie uma lista "quadrado"
# e coloque os números da lista abaixo, elevados ao quadrado, na nova lista
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]
quadrado = []
for numero in numeros:
    quadrado.append(numero**2)
print(quadrado)

[5625, 8836, 10404, 92416, 3025, 144, 819025, 585225, 459684, 15376, 7056, 8281, 484]

In [17]:
# Exercício 5 - Crie duas listas: "pares" e "impares" e utilizando append, for e if, 
# coloque os números da lista abaixo em suas respectivas listas
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]
pares = []
impares = []
for numero in numeros:
    if numero % 2 == 0:
        pares.append(numero)
    else:
        impares.append(numero)
print(f'Lista pares: {pares}')
print(f'Lista impares: {impares}')

Lista pares: [94, 102, 304, 12, 678, 124, 84, 22]
Lista impares: [75, 55, 905, 765, 91]

In [18]:
# Exercício 6 - Utilizando o for, conte quantos números temos na lista abaixo e armazene na variável count
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]
count = 0
for numero in numeros:
    count += 1
print(count)

13

In [19]:
# Exercício 7 - Utilizando o for, some todos os números que temos na lista abaixo e armazene na variável soma
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]
soma = 0
for numero in numeros:
    soma += numero
print(soma)

3311

In [21]:
# Exercício 8 - Imprima todos números mas quando o número for maior do que 200, pule utilizando o "continue" 
# e não imprima esse número
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]
for numero in numeros:
    if numero > 200:
        continue
    print(numero)

75
94
102
55
12
124
84
91
22

In [23]:
# Exercício 9 - Imprima todos números mas quando o número for maior do que 200, utilize o "break" e saia do loop
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]
for numero in numeros:
    if numero > 200:
        break
    print(numero)

75
94
102

In [26]:
# Exercício 10 - Crie duas listas: "Maior de idade" e "Menor de idade" e utilizando append, for e if, 
# coloque o nome das pessoas em suas respectivas listas
cadastros = [
    {'nome': 'Pedro', 'idade': 15},
    {'nome':  'Gustavo', 'idade': 25},
    {'nome':  'Gabriel', 'idade': 16}, 
    {'nome':  "Mário", 'idade': 45}
]
maior_de_idade = []
menor_de_idade = []
for pessoa in cadastros:
    if pessoa['idade'] >= 18:
        maior_de_idade.append(pessoa)
    else:
        menor_de_idade.append(pessoa)
        
print(f'Maiores de idade: {maior_de_idade}')
print(f'Menores de idade: {menor_de_idade}')

Maiores de idade: [{'nome': 'Gustavo', 'idade': 25}, {'nome': 'Mário', 'idade': 45}]
Menores de idade: [{'nome': 'Pedro', 'idade': 15}, {'nome': 'Gabriel', 'idade': 16}]

In [27]:
# Exercício 11 - Utilize um Nested loop (loop aninhado) para imprimir todas combinações de quantidades com as frutas
# exemplo: 2 Banana, 5 Banana, 10 Banana, 18 Banana, 2 Laranja...
quantidades = [2, 5, 10, 18]
frutas = ['Banana', 'Laranja', 'Maçã']
for fruta in frutas:
    for quantidade in quantidades:
        print(quantidade, fruta)

2 Banana
5 Banana
10 Banana
18 Banana
2 Laranja
5 Laranja
10 Laranja
18 Laranja
2 Maçã
5 Maçã
10 Maçã
18 Maçã

In [30]:
# Exercício 12 - Usando for e zip, imprima a frase 'O time XXX está em XXXº lugar.', substituindo XXX pelo time e sua posição
posicoes = [2, 4, 1, 3, 5]
times = ['São Paulo', 'Santos', 'Vasco', 'Fluminense', 'Flamengo']
for posicao, time in list(zip(posicoes, times)):
    print(f'O time {time} está em {posicao}º lugar.')

O time São Paulo está em 2º lugar.
O time Santos está em 4º lugar.
O time Vasco está em 1º lugar.
O time Fluminense está em 3º lugar.
O time Flamengo está em 5º lugar.