# For

In [ ]:
# Exercício 1 - Faça um loop para imprimir a frase "Olá, {nome da pessoa}" para cada pessoa da lista abaixo
pessoas = ['Pedro', 'Gustavo', 'Gabriel', "Mário"]

In [ ]:
# Exercício 2 - Faça um loop para imprimir cada letra da palavra abaixo
palavra = 'Coca Cola'

In [ ]:
# Exercício 3 - Utilizando append e for coloque todos nomes da lista de pessoas com o prefixo "Dr." antes do nome na lista "doutores"
pessoas = ['Pedro', 'Gustavo', 'Gabriel', "Mário"]
doutores = []

In [ ]:
# Exercício 4 - Utilizando append e for, crie uma lista "quadrado"
# e coloque os números da lista abaixo, elevados ao quadrado, na nova lista
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]

In [ ]:
# Exercício 5 - Crie duas listas: "pares" e "impares" e utilizando append, for e if, 
# coloque os números da lista abaixo em suas respectivas listas
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]

In [ ]:
# Exercício 6 - Utilizando o for, conte quantos números temos na lista abaixo e armazene na variável count
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]
count = 0

In [ ]:
# Exercício 7 - Utilizando o for, some todos os números que temos na lista abaixo e armazene na variável soma
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]
soma = 0

In [ ]:
# Exercício 8 - Imprima todos números mas quando o número for maior do que 200, pule utilizando o "continue" 
# e não imprima esse número
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]

In [ ]:
# Exercício 9 - Imprima todos números mas quando o número for maior do que 200, utilize o "break" e saia do loop
numeros = [75, 94, 102, 304, 55, 12, 905, 765, 678, 124, 84, 91, 22]

In [2]:
# Exercício 10 - Crie duas listas: "Maior de idade" e "Menor de idade" e utilizando append, for e if, 
# coloque o nome das pessoas em suas respectivas listas
cadastros = [
    {'nome': 'Pedro', 'idade': 15},
    {'nome':  'Gustavo', 'idade': 25},
    {'nome':  'Gabriel', 'idade': 16}, 
    {'nome':  "Mário", 'idade': 45}
]

In [ ]:
# Exercício 11 - Utilize um Nested loop (loop aninhado) para imprimir todas combinações de quantidades com as frutas
# exemplo: 2 Banana, 5 Banana, 10 Banana, 18 Banana, 2 Laranja...
quantidades = [2, 5, 10, 18]
frutas = ['Banana', 'Laranja', 'Maçã']

In [ ]:
# Exercício 12 - Usando for e zip, imprima a frase 'O time XXX está em XXXº lugar.', substituindo XXX pelo time e sua posição
posicoes = [2, 4, 1, 3, 5]
times = ['São Paulo', 'Santos', 'Vasco', 'Fluminense', 'Flamengo']